
access_token = "ACCESSTOKEN1"
access_token2 = "ACCESSTOKEN2"
server_address = "http://YOURSERVER:PORT/api/v1/"+access_token
server_address2 = "http://YOURSERVER:PORT/api/v1/"+access_token2
telemetry_address = server_address + "/telemetry"
telemetry_address2 = server_address2 + "/telemetry"
